body {
}
        * {
            margin:0;
            padding:0;
            font-family: 微軟正黑體;
            margin:auto;
        }
        body{
             background : #111111 url('../../image/index/03.jpg') no-repeat fixed 50% 50% ;/*圖片畫面置中不重複*/
             background-size: cover;/*圖片隨頁面縮放大小*/
        }
        html,body{
            height: 87.3%;
        }

        .menu{
            overflow:auto;
            background-color:antiquewhite;
            background:rgba(250,235,215,0.3);
            list-style-type:none;
            height: auto;
            top:0;
        }
        .menuli{
            float:left;
            margin-left:5%;
            bottom:0;
            margin-top:2.5%;
        }
        .menuimg{
            float:left;
            margin-left:5%;
            bottom:0;
            padding-top:1%;
        }
        .menubutton{
            margin-top:2.5%;
        }
        .mainbody{
            height:90%;
            margin:auto;
            font-size:20px;

        }
        .search{
            padding:2% 5%;
            margin:auto;
            margin-top:5%;
            border:1px solid #9d9d9d;
            border-radius:30px;
            background:rgba(128, 128, 128,0.2);
            width:500px;
        }
        .searchdiv{
            padding-top:2%;
        }
        .searchline{
            padding-top:2%;
        }
        .search img{
            float:right;
            width:8%;
            margin-right:5%;
            margin-top:0.5%;
        }
        .searchsubmit{
        	float:right;
        	width:100px;
        	height:50px;
        }
        footer{
            clear:both;
            width:100%;
            position:absolute;
            bottom:0; /* 設置位置於下方 */
            padding-top:0.5%;
            padding-bottom:0.5%;
            background-color:antiquewhite;
            background:rgba(250,235,215,0.3);
        }
        footer span{
            float:right;
            padding-right:1%;
        }
      
       
       
