        * {
            margin:0;
            padding:0;
            font-family: 微軟正黑體;
            margin:auto;
        }
        body{
             background : #111111 url('../../image/index/03.jpg') no-repeat fixed 50% 50% ;/*圖片畫面置中不重複*/
             background-size: cover;/*圖片隨頁面縮放大小*/
             overflow: hidden;
        }
        html,body{
            height: 100%;
        }

        .menu{
			background:rgba(250,235,215,0.3);
            list-style-type:none;
            height: 55px;
            width:100%;
            top:0;
            overflow:hidden;
            /*border:2px solid black;*/
        }

        .menu li{
            display:block;
            line-height:3em;
            height:100%;

        }

        .menuli a:hover{
            background-color:#46A3FF;
			opacity:0.6;
            color:white;
        }

        .menuli{
            text-align:center;
            float:left;
            width:8em;

        }
        .menuli a {
           text-decoration:none;
           display:block;
           color:black;
           height:55px;
           line-height:3em;
         }


       .menuliimg {
           float:left;
            width:15em;
            height:55px;
        }

        .menuimg{
            padding-top:2px;
            height:60px;
        }
        .mainbody{
            height:500px;
            margin:auto;
            font-size:20px;

        }
        .search{
            padding:2% 5%;
            margin:auto;
            margin-top:5%;
            border:1px solid #9d9d9d;
            border-radius:30px;
            background:rgba(128, 128, 128,0.2);
            width:500px;
        }
        .searchdiv{
            padding-top:2%;
        }
        .searchline{
            padding-top:2%;
        }
        .search img{
            float:right;
            width:50px;
            margin-left:5px;
            margin-top:0.5%;
        }
        .searchsubmit{
        	float:right;
        	width:100px;
        	height:50px;
        }
        footer{
            clear:both;
            width:100%;
            position:fixed;
            bottom:0; /* 設置位置於下方 */
            padding-top:0.5%;

            background:rgba(250,235,215,0.3);
        }
        footer span{
            float:right;
            padding-right:1%;
        }
      
      .loadingback{
            background-color:#e0e0e0;
            opacity:0.7;
            height:100%;
            width:100%;
           display:none;
             position:fixed;
             top:0px;
            left:0px;
            
        }
        .loadshowbox {
             position:fixed;
             top:35%;
             left:43%;
             display:none;
        }
        .loadshowbox img{
             width: 200px
        }
       
       
