        
        /*body*/
        .mainbody{
            margin:auto;
            height:auto;
            color:white;
            background:rgba(128, 128, 128,0.5);
            border:1px solid #9d9d9d;
            -webkit-box-shadow: 0px 8px 15px #333;
            -moz-box-shadow: 0px 8px 15px #333;
            box-shadow: 0px 8px 15px #333;
        }

        /*search bar*/
        .aside {
            width:275px;
            background:rgba(255, 255, 255,0.2);
            height:500px;
            position: fixed;
            top:100px;
            left: -275px;
        }

        .searchbar table{
            width:auto;
            float:right;
            margin-left:5%;
            height:500px;
        }
       
        .searchbar tbody td{
            color:white;
        }

        .searchbar tbody td img{
            width:40px;
        }

        .searchbar thead td{

        }

        .barbuttonimg{
            vertical-align: middle;
            width: 50px;
            height: auto;
            z-index: 111111;
        }

        .barbutton { 
            outline: none;
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            width: 52px;
            height: 100%;
            margin: 0;
            padding: 0;
            border-top-right-radius:20px;
            border-bottom-right-radius:20px;
            background:rgba(255, 255, 255,0.2);
            border:none;
            border-left:1.5px solid white;
        }

        .loadingback{
            background-color:#e0e0e0;
            opacity:0.7;
            height:100%;
            width:100%;
           display:block;
             position:fixed;
             top:0px;
            left:0px;
            
        }
        .showbox {
             position:fixed;
             top:35%;
             left:43%;
             display:block;
        }
        .showbox img{
             width: 200px
        }